<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
<meta http-equiv="Content-Type" content="text/html;" charset="UTF-8" />	
<!-- hace a la app device responsive-->
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<link rel="shortcut icon" href="{% static 'img/cofradia.ico'  %}"/>
<link href="{% static 'css/stylesheet.css' %}" rel="stylesheet"/>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

	<title>Cofradia! - {% block titulo %} Inicio {% endblock titulo %}</title>
</head>

<body style="background-color: #F0D048">
	<div id="header">
		<div >
			<a href="{% url "homepage" %}"><img id="logo" src="{% static 'img/cofradia.png' %}"></a>
		</div>

		<div id="zonaLogin">
		{% if user.is_authenticated %}		
			<a href="{% url "homepage" %}">{{user.username}}</a> |
			<a href="{% url "logout" %}">Cerrar Sesion</a> 
		{% else %}
			Bienvenido | 
			<a href="{% url "login" %}">Iniciar Sesion</a>
		{% endif %}
			<a href="{% url "register" %}">Registrarse</a>
		</div>
	</div>
	<div id="content">
		{% block content %}	
		<!-- Aqui va todo el contenido -->
		{% endblock content %}
	</div>

<div id="footer">
	
	<footer>
	<center>
		<p>Copyright © <a href="https://www.facebook.com/pandorahardsoft">Pandora</a> - Términos y condiciones | Ayuda | Contactanos</p>
	</center>
	</footer>
	
</div>

</body>
</html>